/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/.globals.work.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/.globals.work.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/.globals.work.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/.globals.work.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/.globals.work.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/.globals.work.bin
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/.strings.work.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/.strings.work.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/.strings.work.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/.strings.work.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/.strings.work.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/.strings.work.bin
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/_.work.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/_.work.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/_.work.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/_.work.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/_.work.bin
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/_composeApp.work.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/_composeApp.work.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/_composeApp.work.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/_composeApp.work.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/_composeApp.work.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/_composeApp.work.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/build.work.bin
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/buildfingerprint.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/buildfingerprint.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/buildfingerprint.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/buildfingerprint.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/buildfingerprint.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/buildfingerprint.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/configuration-cache/1wq37g9xu2cxvxr8yjs6feux/candidates.bin
/.gradle/configuration-cache/2kk82514dsosh02982od99m4f/candidates.bin
/.gradle/configuration-cache/49lnsi7otu207pdce4um4nd38/candidates.bin
/.gradle/configuration-cache/bupdy3misoehq8cklcx0cdrg9/candidates.bin
/.gradle/configuration-cache/dbd37x4iiaooatuw7fgcak6qq/candidates.bin
/.gradle/configuration-cache/tdjyyqhs7lj596x0aogms0xa/candidates.bin
/.gradle/8.14.3/checksums/checksums.lock
/.idea/artifacts/composeApp_js.xml
/.idea/artifacts/composeApp_wasm_js.xml
/.gradle/config.properties
/.gradle/configuration-cache/configuration-cache.lock
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/entry.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/entry.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/entry.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/entry.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/entry.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/entry.bin
/.gradle/8.14.3/executionHistory/executionHistory.bin
/.gradle/8.14.3/executionHistory/executionHistory.lock
/.gradle/8.14.3/expanded/expanded.lock
/.gradle/file-system.probe
/.gradle/8.14.3/fileHashes/fileHashes.bin
/.gradle/8.14.3/fileHashes/fileHashes.lock
/.gradle/8.14.3/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.14.3/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/projectfingerprint.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/projectfingerprint.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/projectfingerprint.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/projectfingerprint.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/projectfingerprint.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/projectfingerprint.bin
/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
/.gradle/configuration-cache/7a92448a-f7ca-4ea8-a3a4-f51ca87016b7/work.bin
/.gradle/configuration-cache/75c2e7d4-c355-4a80-b3d0-c1e227d493d4/work.bin
/.gradle/configuration-cache/629840a7-a303-485f-8cd6-20e4e4508971/work.bin
/.gradle/configuration-cache/b72830c1-652d-4c7f-945a-1d3325ea2dde/work.bin
/.gradle/configuration-cache/f2defb58-92c5-4951-ae63-7e7540cb0c41/work.bin
/.gradle/configuration-cache/fdaff145-0913-4389-95ef-f064f1759649/work.bin
/.idea/workspace.xml
